@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #F9F7F7;
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 1rem;
}

.flex-row{
  display: flex;
  flex-wrap: wrap;
}

.flex-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header{
  border-bottom: 1px solid #04420B;
  margin: 1rem;
}

.header-title{
  color: #04420B;
  letter-spacing: 3px;
}

.conversion-section{
  gap: 1rem;
  padding: 1rem;
}

.amount-section, .currency-section{
  gap: 2rem;
  background-color: #04420B;
  padding: 2rem 1rem 3rem;
  border-radius: 0.5rem;
  color: #FAFBB3;
}

.amount-input-container{ gap: 0.5rem; }

.amount-input-container label{ letter-spacing: 2px; }

.amount-input{
  background-color: #FAFBB3;
  height: 1.8rem;
  font-size: 1rem;
  border: 1px solid #8CD454;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  color: #04420B;
  font-weight: 600;
  outline: 2px solid #8CD454;
}

.show-amount-container, .show-currency-container{ gap: 5px; }

.show-amount-container h2, .show-currency-container h2{
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.graphic-section{
  gap: 1rem;
  color: #04420B;
  padding: 1rem;
}

footer{
  display: flex;
  background-color: #04420B;
  color: #F9F7F7;
  width: 100%;
  padding: 1rem 0;
  margin-top: 3rem;
  justify-content: center;
  text-align: center;
}

.footer-description{
  gap: 0.5rem;
}

.footer-description p{
  color: #F9F7F7;
}

